.policy-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 800px;
}

.policy-container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.policy-container h2 {
  font-size: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.policy-container h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.policy-container h4 {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.policy-container p, .policy-container ul {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #cccccc;
}

.policy-container ul {
  padding-left: 2rem;
}

.policy-container li {
  margin-bottom: 1rem;
}


